extends layout

block content
  div.row
    h1.col= "Admin Page for NewsletterLogon"
  div.row
    h2.col= "Please Login"
  div.row(id="dashboard")
    form(method="POST" id="loginForm")
      div.form-group
        label(for='name') Name:
        input#name.form-control(type="text" placeholder="Name" name="name")
      div.form-group
        label(for="password") Password:
        input#password.form-control(type="password" placeholder="Password" name="password")
  div.row
    button.btn.btn-primary(type="submit" form="loginForm" value="Submit") Login