<div class="row">
  <div class="col">
    <form>
      <h3>{{ user.name }}</h3>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class=""
          value="{{ user.email }}"
          [(ngModel)]="user.email"
          [readonly]="!editMode"
          name="email"
        />
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          value="{{ user.isSubscriber }}"
          [(ngModel)]="user.isSubscriber"
          [readonly]="!editMode"
          name="subscriber"
        />
        <label for="subscriber" class="form-check-label">Subscriber</label>
      </div>
    </form>
  </div>
  <div class="col">
    <div class="row justify-content-center m-2">
      <div class="btn-group">
        <button class="btn btn-warning form-control" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
    <div *ngIf="!editMode; else elseBlock">
      <div class="row justify-content-center m-2">
        <div class="btn-group">
          <button class="btn btn-primary form-control" (click)="toggleEditMode()">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="row justify-content-center m-2">
    <div class="form-group">
      <label for="verifyPassword" class="form-label">
        Verify:
      </label>
      <input type="password" name="verifyPassword" [(ngModel)]="verifyChange">
    </div>
    <div class="btn-group">
      <button class="btn btn-success form-control" (click)="saveChanges()">
        Save Changes
      </button>
    </div>
  </div>
</ng-template>
